{{#if simpleMode}} {{> footer-simple}} {{else}}
<footer class="mt-16 border-t-2 border-gray-700 py-8">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <div class="mb-4">
        <div class="flex items-center justify-center mb-4">
          <img
            src="{{baseUrl}}images/favicon.svg"
            alt="Bento PDF Logo"
            class="h-10 w-10 mr-3"
          />
          <span class="text-xl font-bold text-white">BentoPDF</span>
        </div>
        <p class="text-gray-400 text-sm">
          &copy; 2026 BentoPDF. All rights reserved.
        </p>
        <p class="text-gray-500 text-xs mt-2">
          <span>版本</span>
          <span id="app-version"></span>
        </p>
      </div>
    </div>
  </div>
</footer>
{{/if}}
